gris_oscuro = #444
azul = #22bce0

body
	color gris_oscuro
	background #e8e8e8
	font-family Arial
	font-size 16px
	
header
	background gris_oscuro
	color white
	padding 0.5em

	.logo
		width 70px
		border-right 1px solid azul
		
		img
			width 60px
	
	.titular
		margin 0 80px 0 80px
		.titulo
			font-size 18px
			font-weight normal

.left
	float left
	
.right
	float right